@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  /*Position*/
  position: relative;

  /*Dimensions*/
  margin: 0;

  /*Style*/
  background-color: #ffffff;
  color: #000000;

  /*Flex*/
  display: flex;
  justify-content: center;

  /*Texte*/
  font-family: "Roboto";
}

#root {
  /*Position*/
  position: relative;

  /*Dimensions*/
  min-width: 1024px;
  min-height: 780px;
  width: 100vw;
  height: 100vh;
}
