/*Couleurs*/
$prm: rgba(230, 0, 0, 1);
$red: rgba(255, 0, 0, 1);
$lgt-gry: rgba(251, 251, 251, 1);
$gry: rgba(251, 251, 251, 1);
$drk-gry: rgba(116, 121, 140, 1);
$blk: rgba(2, 2, 3, 1);
$wht: rgba(255, 255, 255, 1);
