@use "../variables.scss" as *;

.act_ctn {
  /*Display*/
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 25px;
}

.act_sub_ctn {
  /*Dimensions*/
  width: 100%;

  /*Display*/
  grid-column: 1;
  grid-row: 2;
  display: flex;
  gap: 25px;
}

.info_ctn {
  /*Dimensions*/
  height: 263px;
  width: 100%;

  /*Style*/
  border-radius: 5px;
  overflow: hidden;
}

@media (max-width: $small-size) {
  .act_sub_ctn {
    /*Display*/
    flex-direction: column;
  }
}
